<DOCTYPE! html>
    <html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="register.js" type="text/javascript"></script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
            id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/login.css">
    </head>

    <body>
        <div class="container login-container">
            <div class="login-form text-center">
                <h1>GetIt Done</h1>
                <img src="https://img.icons8.com/cotton/64/000000/checklist--v1.png">
                
                <form action="/register" method="POST" id="register-form">
                    <h3>Please enter your details:</h3>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" placeholder="Email Address *" required />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="fName" placeholder="First Name *" required />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="lName" placeholder="Last Name *" required />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" placeholder="Your Password *"
                            required />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="cPassword" placeholder="Confirm Password *"
                            required />
                    </div>
                    <div class="form-group">
                        <button type="submit" id="btn-register" class="confirmButton">Register</button>
                    </div>
                    <div class="form-group">
                        <a href="/login" class="register">Already have an account? Login!</a>
                    </div>
                </form>
            </div>
        </div>





        <!-- Modal Success Popup -->
        <div class="modal fade success-popup" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Registration Successful!</h4>
                    </div>
                    <div class="modal-body text-center">
                        <p class="lead">You have successfully registered. Please log in.
                        </p>
                        <a href="./login" class="rd_more btn btn-default">Login</a>
                    </div>

                </div>
            </div>
        </div>

    </body>

    </html>