<DOCTYPE! html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="todo.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="css/todo.css">
        <title>ToDo List</title>
    </head>

    
    <body>
        <div>
            <form>
                <input type="text" id="item" placeholder="Add a todo item">
                <button type ="submit">Add Item</button>
            </form>
            <table id="todoTable">
                <% for(var i = 0; i < items.length; i++){ %>
                    <tr><td><li"><%= items[i].item%><button class="deleteButton"  onclick="deleteItem('<%= items[i].item  %>')" id="deleteBtn" ">x</button></li> </td></tr>
                <%}%>
            </table>
        </div>

        <button onclick="location.href='logout'" type="button">Logout</button>
    </body>
</html>