<DOCTYPE! html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <title>ToDo List</title>
    </head>
    
    <style>
        table { border-collapse: collapse; }
        td, th { border: 1px #000 solid; }
    </style>

    <body ng-app="myApp">
        <div ng-controller="myCtrl" id="table">
            <form>
                <input type="text" name="item" placeholder="Add a todo item">
                <button type ="submit">Add Item</button>
            </form>
            <table>
                <% for(var i = 0; i < userData.length; i++){ %>
                    <tr><td><%= userData[i].firstName%></td>
                    <td><%= userData[i].lastName%></td>
                    <td><%= userData[i].email%></td></tr>
                <%}%>
            </table>
        </div>
    </body>
</html>